.resume-navigation {
  /* padding: 1rem 2rem; */
  display: flex;
  gap: 5px;
  justify-content: space-around;
  /* background-color: var(--neutral); */
}
.resume-navigation > li {
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 200;
  border: 1px solid rgba(128, 128, 128, 0.365);
  color: rgb(165, 165, 165);
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: 1px 2px 3px rgba(150, 150, 150, 9);
  transition: color 300ms ease;
}

.resume-navigation > li:hover {
  color: rgb(194, 194, 194);
}
.resume-navigation > li a {
  display: inline-block;
  width: 100%;
}
