.feather-list > li::before {
  content: "â—";
  margin: 0.5rem 0.5rem;
}
.feather-list > li {
  text-transform: capitalize;
}

.go-website-btn:hover {
  color: #464646;
  animation: smoothSpring 300ms ease-in-out 60ms;
  transition: color 100ms ease 200ms;
}

@keyframes smoothSpring {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.go-website-btn:hover .go-web-ico-animation {
  color: blue;
  transform: translateX(3px);
  transition: transform 10ms ease, color 0.3s ease 0.08s;
}

.bg-backdrop {
  position: relative;
  border: 1px solid rgba(117, 116, 116, 0.267);
  box-shadow: inset 0px 0px 10px rgba(128, 128, 128, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
  /* background: white; */
}

/*
 .bg-backdrop::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  filter: blur(9px);
  background: #000;
} 
*/

.background-img {
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.3;
  background-color: #000;
}
.p-logo-shadow {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), -0px -0.5px 3px gray;
}
